[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=GNordVPN
Comment=A graphical NordVPN client.
Icon=/usr/share/icons/de.moekesch.gnordvpn.png
Path=
...
Exec=gnordvpn
Categories=Network;